*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.carousel-item {
    height: 450px;
    background-color: gray;
    text-align: center;
}

.item1 {
    background-image: url('../images/main2.jpg');
    background-size: cover;
    background-position: center center;
}

.item2{
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center center;
}

.item3{
    background-image: url('../images/main3.jpg');
    background-size: cover;
    background-position: center center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.intro{
    display: inline-block;
    vertical-align: middle;
    margin-left: 200px;
    margin-top: 200px;
}

.intro a{
    background-color: #5467F5;
    color: white;
    padding: 10px 30px;
    vertical-align: middle;
    border-radius: 10px;
    text-decoration: none;
}

h4 {
    font-size: 15px;
    
}

h2 {
    font-size: 20px;

}

.container{
    margin-top: 50px;
    background-color: #B6C1F2;
    height: 150px;
    

}

.row1 {
    margin-bottom: 30px;
}

.row2{
    margin-bottom: 30px;
    
}

.trainer1bg {
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    text-align: center;
    width: 250px;
    
}

.trainer2bg {
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    text-align: center;
    width: 250px;
    
}

.trainer3bg {
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    text-align: center;
    width: 250px;
    
}

.trainer4bg {
    background-color: white;
    box-shadow: 10px 5px 5px gray;
    text-align: center;
    width: 250px;
    
}


.container2 {
    margin-top: 200px;
    background-color: #B6C1F2;
    height: 150px;
    
}

.ad{
    margin-top: 500px;
    text-align: center;
}

.footer1{
   margin-left: 250px;
}

.link{
    text-align: center;
    margin-top: 30px;
}